<h2><%= @course.name %></h2>

<p>Professor: <%= @course.professor%></p>
<p>Credits: <%= @course.credits%></p>

<p><a href="/courses">All courses</a></p>
<p><a href="/courses/<%= @course.id %>/edit">Edit course</a></p>